body{
    margin:0;
    background-color:#2A2A2A;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
.titulo,.botoes,footer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

}
.teclado{
    display:flex;
    font-size:30px;
    font-weight:bolder;
    padding-bottom:10px;
}
.teclado--num{
    border: 3px solid white;
    width: 38px;
    padding: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;

}
h1{
    font-size:50px;
    font-weight:bold;

}
form input{
    width:260px;
    height:30px;
    font-size:15px;
    font-weight: bold;
}
button{
    border: 3px solid white;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    padding-bottom:5px;
    width:260px;
    height:40px;
    color:white;
    background-color:#2A2A2A;
    font-size:17px;
 }
 .colorida{
    border: 3px solid yellow;
    color:yellow;

 }