*{
    box-sizing: border-box;
    margin:0;
    border:0;
}
body{
    
    background-color:#2A2A2A;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    font-size:25px;
    font-weight:bold;
    text-align: center;
    padding-bottom: 20px;

}
.numeros{
    position:relative;
}


.relogioemSi{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.relogioanalogico{ /*RELOGIO ANALOGICO */
    border-radius:50%;
    /*border: 1px solid white;*/
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
}
    
.tracinho{
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.bolinha{
    border-radius: 63%;
    border: 1px solid white;
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 0px;
    left: 10px;

}
.ponteiro--segundos{
    background-color: red;
    width: 3px;
    height: 120px;
    position: relative;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: bottom;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

}
.ponteiro--minutos{
    background-color: white;
    width: 3px;
    height: 90px;
    transform: translateY(-50%) rotate(45deg);
    transform-origin:bottom;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

}
.ponteiro--horas{
    background-color: rgb(94, 94, 94);
    width: 3px;
    height: 60px;
    transform: translateY(-50%) rotate(45deg);
    transform-origin:bottom;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

}
.num {
    font-size:15px;
    position: absolute;
    width:100%;
    height: 100%;
    padding-top:12px;
}
.num1{
    transform:rotate(0deg);

}
.num2{
    transform:rotate(30deg);

}
.num3{
    transform:rotate(60deg);

}
.num4{
    transform:rotate(90deg);

}
.num5{
    transform:rotate(120deg);

}
.num6{
    transform:rotate(150deg);

}
.num7{
    transform:rotate(180deg);

}
.num8{
    transform:rotate(210deg);
}
.num9{
    transform:rotate(240deg);

}.num10{
    transform:rotate(270deg);

}.num11{
    transform:rotate(300deg);

}.num12{
    transform:rotate(330deg);

}





















.numeros{ /*RELOGIO DIGITAL */
    font-size:50px;
    font-weight:bold;
    text-align: center;
}


