*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color:rgb(24, 24, 44);
    font-size:20px;
    color:white;

}
.tabuleiro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabuleiro_marc{
    width: 10px;
    height: 5px;
    background-color:rebeccapurple;
}
.botao_comum{
    background-color: rgb(30 30 50);
    width: 200px;
    height: 50px;
    
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #80808059;
    


}

.tabuleiro_div{
    width: 1px;
    height:200px;
    background-color:red;
}
.resultado_jogador{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:30px;
    text-transform: uppercase;

}
.botoes{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}